* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Roboto', sans-serif;
}

body {

    background-color: #50A0D2;
    text-align: center;
}

h1 {

    padding: 20px;

    background-color: #1C374A;
    color: #ddd;
}

.select h3 {
    
    padding: 20px;
}

.select .option {

    padding: 20px;

    font-size: 50px;

    background-color: #666;
}

.select .option.active {

    background-color: #0A6EAA;
}

button.play {
    
    padding: 10px 30px;
    margin: 20px;
    border: none;

    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;

    color: #ddd;
    background-color: #1C374A;
}

button.play:focus {

    outline: none;
}

.wrapper {
    background-color: #35535C;

    padding-bottom: 30px;

}

.panel h3 {

    padding: 20px;
}

.panel p {

    padding: 10px;
}

.panel h2 {

    padding: 20px;
}

@media(min-width: 1024px){

    html {

        font-size: 24px;
    }

    .options {

        width: 60%;
        min-height: 20vh;

        margin: 0 auto;

        display: flex;
    }
    
    .options .option {

        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrapper {

        width: 60%;
        margin: 0 auto;

        display: flex;
    }

    .wrapper .panel {

        flex-grow: 1;
    }
}

